<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".SunnyWeatherApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tubiao"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivityFankui6"
            android:exported="false" />
        <activity
            android:name=".MainActivityLianwang5"
            android:exported="false" />
        <activity
            android:name=".MainActivityDailyweather4"
            android:exported="false" />
        <activity
            android:name=".MainActivitySetting3"
            android:exported="false">

            <!-- <intent-filter tools:ignore="AppLinkUrlError"> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <date android:scheme="https" /> -->
            <!--
                </intent-filter>
              这段可以让AC3响应一个打开网页的Intent，但是这里不想用
            -->
        </activity>
        <activity
            android:name=".MainActivitySousuo2"
            android:exported="false" />
        <activity
            android:name=".MainActivityZhuye"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>